<p id="notice"><%= notice %></p>

<h1>Listing Targets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comments</th>
      <th>Rating</th>
      <th>Severity</th>
      <th>Distance</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.name %></td>
        <td><%= target.comments %></td>
        <td><%= target.rating %></td>
        <td><%= target.severity %></td>
        <td><%= target.distance %></td>
        <td><%= target.is_active %></td>
        <td><%= link_to 'Show', target %></td>
        <td><%= link_to 'Edit', edit_target_path(target) %></td>
        <td><%= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Target', new_target_path %>
